<h1>DIEZ REGLAS BÁSICAS PARA CONDUCIR BIEN</h1>
<h3>Los accidentes tienen siempre una razón de ser. No suceden por casualidad, ni por jugadas del destino, sino por el incumplimiento de normas básicas de conducción. EDUCACION VIAL</h3>
<p>En esta época el número de siniestros aumenta considerablemente. Los hay en las calles de la ciudad o en las carreteras del país.</p>
<br>
<p>1. Respete los semáforos y las señales de tránsito. Pasarse un semáforo en rojo e ignorar un pare es más peligroso que jugar a la ruleta rusa</p>

<p>El riesgo aumenta en las noches, cuando el tráfico es más rápido y la visibilidad es menor. En Colombia, estos descuidos ocasionan 24 muertos al día y muchos heridos en las calles.</p>
<br>
<p>2. No estacione en vías arterias. Al hacerlo impedimos la fluidez del tránsito, se forman congestiones, se obliga a otros conductores a cambiar de carriles y se aumentan las posibilidades de accidentes laterales y traseros.</p>
<br>
<p>3. No bloquee las intersecciones. De esa forma, se crean nudos de tráfico que, además de originar pérdidas de tiempo para los conductores, incrementan los choques menores. Pero con altos costos, si se tienen en cuenta los precios de los repuestos.</p>
<br>
<p>4. Utilice las luces direccionales. Es una señal preventiva muy importante porque, quienes lo siguen, pueden reaccionar mejor y a tiempo cuando usted va a cruzar.</p>

<p>Generalmente, no usarlas provoca los choques traseros de dos o más carros, si se trata de una avenida de alto tráfico automotor.</p>
<br>
<p>5. Mantenga en buenas condiciones mecánicas el vehículo y estar bien de salud, son factores que contribuyen a evitar riesgos en las calles y carreteras.</p>

<p>Un conductor enfermo o embriagado y un carro defectuoso son tan temibles como un arma cargada.</p>
<p>No corra el riesgo de convertirse en un homicida más de las calles colombianas.</p>
<br>
<p></p>
<br>
<p>fuente</p>
<a href="https://www.eltiempo.com/archivo/documento/MAM-538619" target="_blank">el tiempo</a>